*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
    padding: 10px;
    
}
a{text-decoration: none; color: rgb(2, 39, 44); font-size: 1.5rem; 
}
a:hover{
    color: orange;
}

main{
    width: 900px;
    margin: 0 auto;
    margin-top: 5rem;   
}

/* FLEX STYLE */
.flex{
    display:flex;
    flex-direction:row;
    
}

.card-div{}
.card{
    color: white;
    padding:2rem 3rem;
   
}
.card h2{
    margin: 2rem 0;
}

.card p{
    margin: 2rem 0;
     line-height: 1.5rem;
}
.btn{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;

}

.btn:hover{
    border:2px solid white;
  background-color: transparent;
  color: white!important;
    
   
}
.card:first-child{
    background-color: rgb(247, 155, 17);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.card:first-child .btn{color: orange;}

.card:nth-child(2){
    background-color: rgb(2, 51, 17);
}
.card:nth-child(3){
    background-color: rgb(3, 71, 49);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* GRID STYLE */

.grid-main{
    background-color: rgb(2, 39, 44);
    padding: 2rem;
    width: 700px;
    height: auto;
}

.grid-row{
    display: grid;
    grid-row-gap: 10px;
   

}

.grid-col{
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-column-gap: 20px;
    height: 150px;
}
.grid-col2{
    display: grid;
    grid-template-columns:1.5fr 1.5fr;
    grid-column-gap: 20px;
    height: 200px;
    
  
}
.item1{
    background-color: rgb(196, 99, 8);
   
}

.item2{ 
    background-color:yellow;
}

.item3{ 
    background-color:rgb(8, 150, 62);
}


.item4{
    background-color:rgb(18, 154, 179);
    grid-row:span 6
   
}

.item5{
    background-color:rgb(18, 154, 179);
    grid-row:span 6
}